body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    
  }
  
  li a {
    
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }


.log-out-btn {
   
} */

.tableContainer {
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
padding: 20px;
margin: 20px;
width: 650px;
left: 500px;
}

/* .tableContainer p {
background-color: red;   
position: absolute; 
right: 0; 
margin-right: 0;
} */

.tableTitle {
font-weight: 500;
color: gray;
margin-bottom: 15px;
}

.Dashboard-Main {
    display: flex;
   position: relative;
   right: 0;
   background-color:#FAF9FF;
}

/* .Dashboard-Data p:last-of-type {
    
} */

.Dashboard-Data {
    display: flex;    
}


.Dashboard-Sidebar{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  z-index: 10;
  left:auto;
  top: 0;
  margin-left: 0;
  background-color: #141466;
  width: 250px;
  height: 100vh;
  font-size: 16px;
  padding: 20px; 
  font-weight: 300;
}

.Dashboard-Sidebar a{
  color: #C2C0FF;
  font-size: 24px;
}

.Dashboard-Sidebar li {
list-style: none;
}

.Menubar{
  background-color: white;
 position: absolute; 
 right: 0;  
 width: 1090px;
 height: 90px;
}

li a:hover:not(.active) {
    background-color: #111;
    display: block;
  }
  
  .active {
    background-color: #04AA6D;
  }

.Dash-LogOut {
  background-color:#141466;
  color:#C2C0FF ;
}

