body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04AA6D;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }


.log-out-btn {
   float:right
}

.tableContainer {
-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
padding: 20px;
margin: 20px;
width: 650px;
}

.tableTitle {
font-weight: 500;
color: gray;
margin-bottom: 15px;
}

.Dashboard-Data {
    display: flex;
}

.Dashboard-Sidebar{
    background-color: #141466;
    width: 250px;
}